* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background: #141518;
}

.title-container > h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.hero-container {
  width: 100vw;
  height: 40vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/book-pic.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/book-pic.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-container > input {
  height: 2rem;
  border: none;
  width: 25%;
  font-size: larger;
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

.search-button {
  border: none;
  height: 2rem;
  width: 5rem;
  font-size: large;
  background: #ef43aa;
  color: white;
  cursor: pointer;
}

.search-button:hover {
  background: #f58aca;
}

.title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.books {
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2rem;
  background: #141518;
}

.book-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hide {
  display: none;
}

.book-card {
  max-width: 250px;
  height: 60vh;
  background-color: #eeeeee;
  margin: 2rem;
  overflow-y: scroll;
  scrollbar-color: red;
  scrollbar-width: thin;
}

.book-pic {
  height: 40%;
  width: 100%;
  background-size: cover;
  background-repeat: none;
  background-color: #eeeeee;
  border-radius: 5px;
}

.book-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
  gap: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.desc {
  font-weight: 800;
}

@media (max-width: 400px) {
  .input-container > input {
    width: 50%;
  }
  .title-container > h1 {
    font-size: 16px;
  }
  .search-button {
    font-size: small;
  }
  .book-card {
    max-width: 200px;
  }
  .line-space {
    margin-top: 0.5rem;
  }
}
/*# sourceMappingURL=style.css.map */