*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

//variables

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

@mixin background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

//general styles

.title-container > h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.hero-container{
    width: 100vw;
    height: 40vh;
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/book-pic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include flex-column();
}

.input-container > input{
    height: 2rem;
    border: none;
    width: 25%;
    font-size: larger;
}

.input-container{
    @include flex-center();
    width: 100vw
}


.search-button
{
border: none;
height: 2rem;
width: 5rem;
font-size: large;
background: hsl(324, 84, 60);
color: white;
cursor: pointer;
&:hover{
    background: hsl(324, 84, 75);
}
}

.title-container{
    @include flex-center()
}

//section

.books{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    background: #141518;
}

.book-card{
    width: 30vw;
    height: 45vh;
    background-color: #eeeeee;
    border-radius: 5px;
}

.book-pic{
    height: 70%;
    width: 100%;
    background: url(../images/book-cover.jpg);
    @include background();
    background-color: #eeeeee;
    border-radius: 5px;
}

.book-desc{
    @include flex-column();
    margin-top: 5px;
    gap: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.desc {
    font-weight: 800;
}